
#addHotelForm{
    display: none;
}
body{
    background: url(https://i.imgur.com/wSZXU7z.jpg); width:100%;height:100vh;
    background-size: cover;

}
.container{
    width: 95%!important;
}
img{
    border-radius: 50%;
}
th{
    font-family: 'Montserrat', sans-serif;
    color: aquamarine;
}
tbody{
    font-weight: bold;
    color: white;

}
.ft{

    font-family:'Montserrat', sans-serif;
    font-size:40px;
    color: aquamarine;
    padding-top:5%;

}
.centerClass{
    text-align: center;
}
td{
    vertical-align: middle!important;
}
#logOut{
    margin-top: 30px!important;
}
.btn-main{
    font-family:'Montserrat', sans-serif!important;
    background-color: aquamarine!important;
    color: black!important;
    font-weight: bold!important;
}
